<div class="auth-container">
  <h2>{{ isLoginMode ? 'Login' : 'Registrar' }}</h2>

  <!-- Mensagem de erro ou sucesso -->
  @if (errorMessage) {
    <div class="message-box" [class.error]="!errorMessage.includes('sucesso')" [class.success]="errorMessage.includes('sucesso')">
      {{ errorMessage }}
    </div>
  }

  <!-- Formulário de Login -->
  @if (isLoginMode) {
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="loginEmail">Email:</label>
      <input type="email" id="loginEmail" formControlName="email">
      
      <label for="loginPassword">Senha:</label>
      <input type="password" id="loginPassword" formControlName="password">

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
  } @else {
    <!-- Formulário de Registro -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="registerEmail">Email:</label>
      <input type="email" id="registerEmail" formControlName="email">

      <label for="registerPassword">Senha:</label>
      <input type="password" id="registerPassword" formControlName="password">

      <label for="confirmPassword">Confirmar Senha:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">

      @if (registerForm.errors?.['passwordsMismatch'] && (registerForm.get('confirmPassword')?.touched)) {
        <div class="message-box error">As senhas não coincidem.</div>
      }

      <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
    </form>
  }

  <hr>

  <p>
    {{ isLoginMode ? 'Não tem conta?' : 'Já tem conta?' }}
    <a (click)="toggleMode()">{{ isLoginMode ? 'Crie uma agora' : 'Faça login' }}</a>
  </p>
</div>
