.login-register {
  max-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto; /* Adicionado para centralizar o componente */

  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  &__divider {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 20px 0;
  }

  &__toggle-text {
    text-align: center;
  }

  &__toggle-link {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

  &__message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;

    &--error {
      background-color: #f8d7da;
      color: var(--danger-color);
      border: 1px solid var(--danger-color);
    }

    &--success {
      background-color: #d4edda;
      color: var(--success-color);
      border: 1px solid var(--success-color);
    }
  }
}
