/* src/app/components/auth/login-register/login-register.component.css */

.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"], 
input[type="password"] {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    margin-left: 0; /* Centraliza o botão */
}

hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 20px 0;
}

p {
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/* Mensagens */
.message-box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.message-box.error {
    background-color: #f8d7da;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
}

.message-box.success {
    background-color: #d4edda;
    color: var(--success-color);
    border: 1px solid var(--success-color);
}